<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/login.css">
</head>
<body>

  <!--   <h2>Admin Page</h2> -->
  <!-- <p>Ayo we got some stuff goin on</p> -->
  <!-- <p>Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window.</p> -->
  
<!--     <form action="/view-farms" method="get">
      <button class="view-button">View Farms</button>
    </form> -->

    <button class="open-button" onclick="openForm()">Log In</button>

    <div class="form-popup" id="myForm">
      <form method="POST" action="/login" class="form-container">
        <h1>Log In</h1>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="initial_password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>

    <script>
      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }
    </script>

  </body>
  </html>
