<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/admin.css">
  <link rel="stylesheet" href="/login.css">
  <link rel="stylesheet" href="/style.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>Local Food Hub ⚪ Admin Page</title>
</head>
<body>

  <h2>Admin Page</h2>
  <h3>{{password_change}}</h3>
  <!-- <p>Ayo we got some stuff goin on</p> -->
  <!-- <p>Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window.</p> -->
  <label class="switch" id="create_admin_checker">
    <label id="label_create_admin">Turn off creating admin accounts?</label>
    <input type="checkbox" id="check_value" {{checked}}>
    <span class="slider round" id="slider"></span>
  </label>
  
  <form method="get" action="/view-farms">
    <button class="view-button">View Farms</button>
  </form>

  <!-- <a href="/view-farms" class="view-button">View Farms</a> -->
  <button class="view-button" onclick="openForm()">Add Farm</button>

  <div class="form-popup" id="myForm">
    <form action="/make-farm" method="POST" class="form-container">
      <h1>Add Farm</h1>

      <label for="farmname"><b>Farm Name</b></label>
      <input type="text" placeholder="Ex. Bellair Farm" name="farmname" id="farmname" required>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Ex. bellair_farm" name="username" id="username" required>

      <div class="help-tip">
        <p>This is the long string of letters in the url of the folder. It should look something like this: 1gTpKQ1eFgI5iU5TT0_3A4NJUs4D2zD9w. Along with this, please remember to share the folder with our service account so it can check out this folder at: {{service_account}}</p>
      </div>
      <label for="root_folder"><b>Main Folder ID</b></label>
      <input type="text" placeholder="Enter Folder ID" name="root_folder" id="root_folder" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Ex. jsmith@gmai.com" name="email" id="email" required>

      <label for="initial_password"><b>Password</b></label>
      <input type="password" placeholder="Ex. password165!" name="psw" id="password" required>
      
      <button type="submit" class="btn" id="submit">Submit</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
    <button class="view_popup">
      Reset password
    </button>

    <div class="form-popup" id="reset_password_popup">
      <form method="POST" action="/change-password" class="form-container">
        <input type="text" placeholder="Enter username" name="username" required>

        <input type="password" placeholder="Enter new password" name="password" required>

        <button type="submit" class="btn">Submit</button>
        <button type="button" id="close_popup" class="btn cancel">Close</button>
      </form>
    </div>

  <script src="/admin.js"></script>
  <script src="https://kit.fontawesome.com/3787aa0e64.js" crossorigin="anonymous"></script>
</body>
</html>
