<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<!-- import the webpage's stylesheet -->
<link rel="stylesheet" href="/style.css" />

<!-- import the webpage's client-side javascript file -->
</head>
<body>

	<div id = 'allStati'>{{#type}}{{#.}}
		<table id = "Tableoffarms">
			<tr>
				<th>
					
				</th>
				<td>
					<span id=#farm-name>{{farm_name}}</span>
				</td>
				<td>
					<span id=#email>{{email}}</span>
				</td>
				<td>
					<span id=#root-folder>{{root_folder}}</span>
				</td>
				<td>
					<form method="get" action="/delete-farm/{{email}}">
						<button class="delete-button">x</button>
					</form>			
				</td>
			</tr>
		</table>
	{{/.}}{{/type}}</div>

</main>
</script>
</body>
</html>