<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<!-- import the webpage's stylesheet -->
<link rel="stylesheet" href="/style.css" />

<!-- import the webpage's client-side javascript file -->
</head>
<body>

	<form method="get" action="/admin">
		<button class="return-button">Return</button>
	</form>

	<table>
		<tr>
			<th>Farm Name</th>
			<th>Email</th>
			<th>Folder ID</th>
		</tr>
		<div id = 'allStati'>{{#type}}{{#.}}
			<tr>
				<td><span id=#farm-name>{{farm_name}}</span></td>
				<td><span id=#email>{{email}}</span></td>
				<td><span id=#root-folder>{{root_folder}}</span></td>
				<td>
					<form method="get" action="/delete-farm/{{email}}">
						<button class="delete-button"><i class="fas fa-trash"></i></button>
					</form>
				</td>
			</tr>
		{{/.}}{{/type}}</div>
	</table>
</main>
<script src="https://kit.fontawesome.com/3787aa0e64.js" crossorigin="anonymous"></script>
</body>
</html>