<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<!-- import the webpage's stylesheet -->
<link rel="stylesheet" href="/style.css" />

<!-- import the webpage's client-side javascript file -->
</head>
<body>
	<header>
		<h1>Homepage Test</h1>
	</header>
	<main>
		<div id = 'allStati'>{{#type}}{{#.}}
<!-- 			<span id = "title">{{titleoftype}}</span>
-->			<div id = 'statusoftype'>{{#row}}
	<span id="file_name"> {{FILE_NAME}}</span>
	<!-- <button class="deleteBoyAdmin" id="{{id}}" target="{{adminDecide}}"> Delete boy </button> -->
	<span id="fileID"> {{FILE_ID}}</span>
	<span id="status"> {{STATUS}}</span>
{{/row}}</div>
{{/.}}{{/type}}</div>

<!-- <script id="user-template" type="text/template">
	<table border="1"  id = "ModuleUserTable">
		<tr>
			<td>{{FILE_NAME}}</td>
			<td>{{FILE_ID}}</td>
			<td>{{STATUS}}</td>
		</tr>
	</table>
</script> -->
</main>
</body>
</html>
