<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" href="/style.css" />
	<link rel="stylesheet" href="/login.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- import the webpage's client-side javascript file -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Farm Status ⚪ {{farm_name}}</title>
</head>
<body>
	<header>
		<h1>Homepage for {{farm_name}}</h1>
	</header>
	<main>

		<h2>Current Forms</h2>
		<div id = 'statusoftype'>{{#need_turnin}}
			<span id="file_name"> {{FILE_NAME}}</span>
			<a href="{{FILE_URL}}"><button id="fill_out">Fill out</button></a>
			<button class="ignore_file" id="{{USERNAME}}/{{FILE_ID}}">Ignore</button>
		{{/need_turnin}}</div>

		<div id='allStati'>{{#type}}{{#.}}
			<ul id="list">
				<span id = "title">{{titleoftype}}</span>
				<div id = 'statusoftype'>{{#row}}
					<span id="file_name"> {{FILE_NAME}}</span>
					<!-- <button class="deleteBoyAdmin" id="{{id}}" target="{{adminDecide}}"> Delete boy </button> -->
					{{#STATUS}}
						<a href="{{FILE_URL}}"><button id="fill_out">Fill out</button></a>
						<button class="ignore_file" id="{{USERNAME}}/{{FILE_ID}}">Ignore</button>
					{{/STATUS}}
					{{^STATUS}}
						<a href="{{FILE_URL}}"><button id="complete">Completed</button></a>
					{{/STATUS}}
				{{/row}}</div>
			</ul>
		{{/.}}{{/type}}</div>

		<button id="reset_password">
			Reset password
		</button>

		<div class="form-popup" id="reset_password_popup">
			<form method="POST" id="reset_password_form" action="/farm/reset-password" class="form-container">
        		<input type="text" placeholder="Enter username" name="username" required>

       			<input type="password" placeholder="Enter new password" name="password" required>

       			<button type="submit" class="btn">Submit</button>
        		<button type="button" id="close_popup" class="btn cancel">Close</button>
			</form>
		</div>
	</main>
	<script src="/script.js"></script>
</body>
</html>