<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<!-- import the webpage's stylesheet -->
<link rel="stylesheet" href="/view.css" />

<!-- import the webpage's client-side javascript file -->
</head>
<body>
	<header>
		<h1>View Farms Homepage Test</h1>

	</header>
	<main>
		<table>
			<table id="Farms">
				<tr>
					<th width="30%" style="background-color:lightgray;">Farm</th>
					<th width="1%"></th>
				</tr>

				<tr>
					<td width="30%" style="background-color: white;">SSS-001</td>
					<td><button type='button' class='btnDelete'>x</button></td>
				</tr>

				<tr>
					<td width="30%" style="color:red;">SSS-002</td>
					<td><button type='button' class='btnDelete'>x</button></td>
				</tr>

				<tr>
					<td width="30%" style="color:red;">SSS-003</td>
					<td><button type='button' class='btnDelete'>x</button></td>
				</tr>

				<tr>
					<td width="30%" style="color:red;">SSS-004</td>
					<td><button type='button' class='btnDelete'>x</button></td>
				</tr>
			</table>
		</main>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#Farms").on('click','.btnDelete',function(){
					$(this).closest('tr').remove();
				});
			});
		</script>
	</body>
	</html>
