/* this file is loaded by index.html and styles the page */

/** {
  box-sizing: border-box;
  }*/

  body {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/Agriculture_greenhousegases_1280x720.jpg?itok=cgd2bRxI");
    background-repeat: no-repeat;
    background-size: cover;
   /* margin: 2em 1em;
    line-height: 2.5em;
    opacity: 0.9;*/
  }

/*  h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #006400;
    line-height: 1.1;
  }*/

  h2{
    color: #b1ba1e;
  }

  .main-logo{
    background-color: #E8E8E8;
    opacity:0.9;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .full-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .logo-icon{
    width: 50px;
    height:auto;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #allStati {
    margin-top: none;
    position: static;
    max-width: 700px;
    margin-left: 5%;
    margin-right: 5%;
    /*margin: auto;*/
    padding: 50px;
    border-radius: 18px;
    color: #001f3f;
    font-size: 20px
    box-shadow: 6px 5px 24px #666666;
  }

  #list{
    padding-bottom: 5px;
  }

  #list:nth-child(odd) {
    background-color: #E8E8E8;
    border-radius: 7px;
  }

  #list:nth-child(even) #statusoftype1 {
    background-color: #E8E8E8;
  }

  #list:nth-child(odd) .panel > div:nth-child(odd) {
    background-color: #E8E8E8;
  }
  
  #list:nth-child(odd) .panel > div:nth-child(even) {
    background-color: #ddd;
  }

  #list:nth-child(even) {
    background-color: #b1ba1e;
    border-radius: 7px;
  }

  #list:nth-child(even) #statusoftype1 {
    background-color: #b1ba1e;
  }

  #list:nth-child(even) .panel > div:nth-child(odd) {
    background-color: #eee;
  }
  
  #list:nth-child(even) .panel > div:nth-child(even) {
    background-color: #D0D923;
  }

  #title{
    font-family: sans-serif;
    font-style: bold;
    font-size: 40px;
  }

  #styling {
    margin-top: none;
    position: static;
    max-width: 700px;
    margin-left: 5%;
    margin-right: 5%;
    /*margin: auto;*/
    background-color: rgb(255,255,255,0.8);
    padding: 10px;
    //border-radius: 18px;
    color: #001f3f;
    font-size: 20px
    box-shadow: 6px 5px 24px #666666;
  }

/*  #styling{
    padding-bottom: 5px;
  }

  #styling:nth-child(odd) {
    background-color: #E8E8E8;
    border-radius: 7px;
  } 
  
  #styling:nth-child(even) {
    background-color: #b1ba1e;
    border-radius: 7px;
  }*/

/*  #title{
    font-family: sans-serif;
    font-style: bold;
    font-size: 40px;
  }
*/
  .return-button{
    border-collapse:separate;
    border-radius:10px;
    -moz-border-radius:6px;
    border: 2px solid #006400;
    background-color: white;
    color: #006400;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .delete-button{
    border-collapse:separate;
    border-radius:10px;
    -moz-border-radius:6px;
    border: 2px solid #006400;
    background-color: white;
    color: #006400;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 auto;
  }

  button{
    border-collapse:separate;
    border-radius:10px;
    -moz-border-radius:6px;
    border: 2px solid #7d0849;
    background-color: white;
    color: #7d0849;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 auto;
  }

  button:hover {
    background-color: #7d0849;
    color: white;
  }
/*form {
  background-color: #f5fff5;
  margin: auto;
  display: grid;
  grid-gap: 1em;
  padding: 2em;
  max-width: 100ch;
  }*/

/*  table, th, td {
    padding: 10px;
    text-align: center;
    margin: auto; 
  }

  table {
    border-collapse:separate;
    border-radius:10px;
    -moz-border-radius:6px;
    background-color: #F5F5F5;
  }

  #status th {
    background-color: #F5F5F5;
    font-size: 25px;
    color: #303030;
  }

  #status tr {
    background-color: #E8E8E8;
    font-size: 17px;
  }

  #status tr:nth-child(even) {
    background-color: #B3FFC5;
  }

  label {
    font-weight: bold;
  }
*/
/*input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  }*/

/*form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
  }*/

  /*#statusoftype {
    display: inline;
  }*/

  #reset_password {
    position: absolute;
    top: 10%;
    left: 1%;
  }

  #reset_password_form {
    position: absolute;
    width: calc(100vw - 60px);
    top: calc(2vw - 180px);
    right: calc(10vw - 400px);
  }

  /*#styling {
    background: #F5F5F5;
    padding: 8px;
    border: 4px;
    border-radius: 5px;
  }*/

  /*#styling:nth-child(odd) {
    background-color: #CCFFCC;
  }*/

  #change_password {
    position: absolute;
    top: 17%;
    right: 5%;
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  margin: 0 10px;
  display: none;
  overflow: hidden;
}

.panel > div {
  min-height: 38px;
  padding: 4px 10px;
  margin-top: 5px;
  line-height: 38px;
  border-radius: 5px;
}

.panel > div > div {
  float: right;
  min-width: 100px;
  text-align: right;
  vertical-align: middle;
}